<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/boton.css">
    
    <title>Chaltu Bags Productos</title>
</head>

<body>
        <header class = "top-header"> 
            <a href="#irContenido">ir al contenido principal </a>
            <div class = "logoybarra">
            <img src="../images/logo_chaltu_bags.jpg" class = "logo"  alt="logo">
            <h1>
                CHALTU Bags
            </h1>
            
            <div class="form" action="#" method="GET" role="search">
                <div class="input">Buscar mochilas, Riñoneras y más<i class="fa fa-search"></i></div>
              </i>
            </div>
            <h2>
                <div class="compraencuotas"> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y con tarjeta de crédito de todos los bancos</div>
            </h2>
            </div>
    
               
        <%- include("../partial/navbar") -%>
    </header>
    
        
    <main id="irContenido">
        
    <% productos.forEach(producto => { %>
        
        <div class="product-container">
            
            <img <%= producto.imagen %> alt="Descripción de la imagen">
            <h2><a href = "<%=producto.id%>">
                <%= producto.articulo %>
            </a> </h2>
            <p>Modelo <%= producto.modelo %> </p>
            <p class="precio">Precio : <%= producto.precio %> </p>
            
            <button class="ov-btn-grow-ellipse">Agregar al carrito</button>
    
        </div>
        
    <% }) %>
    <div> 
    <a href="/create">Nuevo producto</a>
</div>
    </main>
    <%- include('../partial/footer') -%>
    
    

    

</body>

</html>
